NChained.Console/Service References/NChainedService/NChainedService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NChainedService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NChained.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INChainedService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="INChainedService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="INChainedService_GetProductsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByName" />
  </wsdl:message>
  <wsdl:message name="INChainedService_GetProductsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="INChainedService_SaveProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProduct" />
  </wsdl:message>
  <wsdl:message name="INChainedService_SaveProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProductResponse" />
  </wsdl:message>
  <wsdl:portType name="INChainedService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/INChainedService/GetData" message="tns:INChainedService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INChainedService/GetDataResponse" message="tns:INChainedService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/INChainedService/GetProductsByName" message="tns:INChainedService_GetProductsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INChainedService/GetProductsByNameResponse" message="tns:INChainedService_GetProductsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/INChainedService/SaveProduct" message="tns:INChainedService_SaveProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INChainedService/SaveProductResponse" message="tns:INChainedService_SaveProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INChainedService" type="tns:INChainedService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/INChainedService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByName">
      <soap:operation soapAction="http://tempuri.org/INChainedService/GetProductsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <soap:operation soapAction="http://tempuri.org/INChainedService/SaveProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NChainedService">
    <wsdl:port name="BasicHttpBinding_INChainedService" binding="tns:BasicHttpBinding_INChainedService">
      <soap:address location="http://localhost:8080/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>